body{
	background-color: gray;
	margin: 0;
	padding: 0;
}

#bar{
	z-index:1000;
	float:left;
	width: 1920px;
	background-color: white;
	border-bottom: 5px solid skyblue;
	margin: 0;
	padding: 0;
}

#menubar{
	text-align: center;
	float:left;
	padding: 7px;
	margin: 0;
}

#menubar ul{
	margin: 0;
}

#menubar ul li{
	float:left;
	list-style-type: none;
	width:300px;
}

#menubar a{
	font-family:굴림;
	font-size: 30px;
	padding: 0 10px 0 10px;
	text-decoration: none;
}

#menubar ul ul{
	display: none;
	position: absolute;
}

#menubar ul li:hover ul{
	display: block;
	z-index:1001;
}

#menubar ul ul li{
	float:none;
	background-color: white;
	padding: 10px;
	border-left: 5px solid skyblue;
	border-right: 5px solid skyblue;
}

#menubar ul ul li:hover{
	background-color:#D8D8D8;
}

#menubar ul ul li:first-child{
	margin-top:7px;
}

#menubar ul ul li:last-child{
	border-bottom: 5px solid skyblue;
}

#menubar a:link,
#menubar a:visited,
#menubar a:active,
#menubar a:hover{
	text-decoration: none;
	color:black;
}

#headertitle{
	float: left;
	font-family: 바탕;
	font-size: 34px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}

#headertitle a:link,
#headertitle a:visited,
#headertitle a:active,
#headertitle a:hover{
	text-decoration: none;
	color:black;
}