<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration> 
	<!-- 여러가지 기본 옵션을 지정합니다. --> 
	<settings> 
		<!-- 오라클 필드 속성이 READ_COUNT 처럼 언더 스코어가 있을 때 VO 의 readCount 처럼 카멜 케이스로 변환 되게 합니다. --> 
		<!-- 세팅을 넣어주어야 디비에 결과값이 null이 되지 않는다. -->
		<setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="defaultStatementTimeout" value="60"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/> 
	</settings> 
	<typeAliases>
		<typeAlias alias="productVO" type="com.sgmp.web.vo.ProductVO"/> 
		<typeAlias alias="loginVO" type="com.sgmp.web.vo.LoginVO"/> 
		<typeAlias alias="orderVO" type="com.sgmp.web.vo.OrderVO"/>
		<typeAlias alias="CompanyVO" type="com.sgmp.web.vo.CompanyVO"/>
		<typeAlias alias="MentVO" type="com.sgmp.web.vo.MentVO"/>
		<typeAlias alias="NoticeVO" type="com.sgmp.web.vo.NoticeVO"/>
		<typeAlias alias="searchVO" type="com.sgmp.web.vo.SearchVO"/>
		<typeAlias alias="customerVO" type="com.sgmp.web.vo.CustomerVO"/>
	</typeAliases> 
	
</configuration>
